@{
  Layout = "_Layout";
}

@using Kanban.Models;
@model IEnumerable<Kanban.Models.Manager>;

<div class="managerIndex">
  <h1><strong>Managers</strong></h1>

  @if (Model.Any())
  {
    @foreach (Manager manager in Model)
    {
      <p>@Html.ActionLink($"{manager.Name}", "Details", new { id =manager.ManagerId})</p>
    }
  }
  else
  {
    <h3>Managers are not in data yet.</h3>
    <p>@Html.ActionLink("Add new manager", "Create")</p>
  }
</div>