@{
  Layout = "_Layout";
}

@model Kanban.Models.ToDoList;

<div class="todolistCreate">

  <h1><strong>Add a new Task</strong></h1>

  @using (Html.BeginForm())
  {
    <label asp-for="StatusId">Kanban Board</label>
    <select asp-for="StatusId" asp-items="ViewBag.StatusId" class="form-control"></select>
    
    <label asp-for="Name">Work Item</label>
    <input asp-for="Name" type="text" class="form-control">

    <label asp-for="Content">Description</label>
    <textarea asp-for="Content" type="text" class="form-control"></textarea>

    <label asp-for="Priority">Priority</label>
    <input asp-for="Priority" type="number" class="form-control">

    <label asp-for="CheckCompletion">Check if this work item is completed
    </label>
    <input asp-for="CheckCompletion" type="checkbox" value="false">

    <hr>
    <label asp-for="ManagerId">Assign this work item to a team memeber</label>
    <select asp-for="ManagerId" asp-items="ViewBag.ManagerId"></select>
    <br>
    <input type="submit" value="Add new To Do" class="w3-button w3-green w3-round-large">
  }

</div>