@{
  Layout = "_Layout";
}

@model Kanban.Models.Project

<div class="projectCreate">
  <h1><strong>Add a new product</strong></h1>

  @using (Html.BeginForm())
  {
    @Html.Label("Project Name")
    @Html.TextBoxFor(model => model.ProjectName)
    
    <input type="submit" value="Add new product">
  }
</div>