@model Kanban.Models.Project

@{
  Layout = "_Layout";
}

<div class="projectCreate">
  <h1><strong>Add a new Project</strong></h1>

  @using (Html.BeginForm())
  {
    <label asp-for="ProjectName" class="caption">Project Name</label>
    <input asp-for="ProjectName" class="form-control">

    <label asp-for="Content">Description</label>
    <textarea asp-for="Content" class="form-control"></textarea>

    <label asp-for="KickOffDate">Kick Off Date</label>
    <input asp-for="KickOffDate" type="date" class="form-control">
    
    <label asp-for="DueDate">Due Date</label>
    <input asp-for="DueDate" type="date" class="form-control">

    <label asp-for="ActiveStatus">Is this Project Active?</label>
    <input asp-for="ActiveStatus" type="checkbox" value="true">
    <br>
    <input type="submit" value="Add new product" class="w3-button w3-green w3-round-large">
  }
</div>