@{
  Layout = "_Layout";
}

@model Kanban.Models.Project

<div class="projectEdit">

  <h1><strong>Edit this project</strong></h1>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ProjectId)

    @Html.Label("Project Name")
    @Html.EditorFor(model => model.ProjectName)

    <input type="submit" value="Save">
  }

  <p>@Html.ActionLink("Back to project list", "Index")</p>
</div>