@{
  Layout = "_Layout";
}

@using Kanban.Models;
@model IEnumerable<Kanban.Models.Project>;

<div class="projectIndex">

  <h1><strong>Projects</strong></h1>


@if (Model.Any())
{
  <ul>
    @foreach (Project project in Model)
    {
      <li>@Html.ActionLink($"{project.ProjectName}", "Details", new { id = project.ProjectId })</li>
    }
  </ul>
} 
else
{
  <h3>No projects have been added yet!</h3>
}

<p>@Html.ActionLink("Add new Project", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
  
</div>