@{
  Layout = "_Layout";
}

@using Kanban.Models;
@model List<Kanban.Models.Project>;

<div class="projectIndex">

  <h1><strong>Projects</strong></h1>

  @if (@Model.Count == 0)
  {
    <h3>No Projects have been added yet!</h3>
  }
  else
  {
    
    @foreach(Project project in Model)
    {
      
      if(project.ActiveStatus == true)
      {
        //style="border: 2px solid green"
      <div class="activeProjects" >
        <p style="background-color: #1e90ff; color: white; text-align: center; padding: 2px; height: 30px">Active Project<p>
        <h3>@Html.ActionLink($"{project.ProjectName}", "Details", new {id = project.ProjectId })</h3>
      </div>
      }
      else
      {
        <p style="background-color: #FA8072; color: white; text-align: center; padding: 2px; height: 30px">Inactive Projects</p>
        <div class="completedProjects">
          
          <h3>@Html.ActionLink($"{project.ProjectName}", "Details", new {id = project.ProjectId })</h3>
        </div>
      }   
    }
  }

  <p>@Html.ActionLink("Add new Project", "Create")</p>
  
</div>