@{
  Layout = "_Layout";
  ViewBag.Title = "Main Kanban";
}

<div class="KanbanIndex">
  <h1><strong>Kanban</strong></h1>
  <div id="KanbanGuideline">
    <img src="~/img/doctor.png" style="width:300px;">
    <h4>Welcome to Kanban!</h4>
  </div>
  <div id="KanbanLinks">
    <p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
  </div>
</div>